<!-- get-pasajeros.component.html -->
<div class="container big-cart">
    <h3>Listado de Pasajeros</h3>

    <!-- Filtros de Búsqueda -->
    <div class="row mb-3 filter-container">
        <!-- Filtro por número de documento -->
        <div class="col-md-6 d-flex flex-column">
            <label for="filtroNumeroDocumento" class="form-label">Filtrar por número de documento:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="filtroNumeroDocumento" placeholder="Número de Documento" [(ngModel)]="numeroDoc" />
                <button class="btn btn-primary" id="buscarClientesBtn" (click)="filtrarPersonas()">Buscar</button>
                <button class="btn btn-secondary ms-2" (click)="borrarFiltro()">Borrar filtro</button>
            </div>
        </div>

        <!-- Espaciado -->
        <div class="col-md-1"></div>

        <!-- Filtro por Estado -->
        <div class="col-md-5 d-flex flex-column">
            <label for="filtroEstado" class="form-label">Filtrar por Estado</label>
            <div class="btn-group" role="group">
                <button class="btn bg-success me-2" (click)="filtrarPorEstado(true)">Activados</button>
                <button class="btn btn-danger" (click)="filtrarPorEstado(false)">Desactivados</button>
            </div>
        </div>
    </div>

    <!-- Lista de Pasajeros -->
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Tipo de Documento</th>
                <th>Número de Documento</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="listaPasajeros">
            <tr *ngFor="let pasajero of pasajeroFiltro">
                <td>{{ pasajero.nombre }}</td>
                <td>{{ pasajero.apellido }}</td>
                <td>{{ pasajero.email }}</td>
                <td>{{ pasajero.tipoDocumento.descripcion }}</td>
                <td>{{ pasajero.numeroDocumento }}</td>
                <td>
                    <span *ngIf="pasajero.estado" class="badge bg-success">Activado</span>
                    <span *ngIf="!pasajero.estado" class="badge bg-danger">Desactivado</span>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" (click)="actualizarEstadoPasajero(pasajero)">
                        {{ pasajero.estado ? 'Suspender' : 'Activar' }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
