
.navbar {
    background-color: #343a40; 
    color: #000000; 
}

.navbar-brand {
    color: #000000; 
    font-weight: bold; 
}

.navbar-brand img {
    border-radius: 50%; 
    margin-right: 10px; 
}

.navbar-nav .nav-link {
    color: #000000; 
}

.navbar-toggler-icon {
    background-color: #ffffff; 
}

.navbar-toggler {
    border: none; 
}

.nav-link:hover {
    color: #ff9900; 
}

.nav-link.active {
    color: #000000;
}

.navbar-toggler:focus {
    outline: none; 
}
.navbar-brand strong {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
  
}

.navbar-nav a {
    font-size: 20px; 
}


.navbar-nav a.router-link-active {
    font-size: 20; /* Ajusta el tamaño de la fuente según tus preferencias */
}

