<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nabla:EDPT@113&display=swap" rel="stylesheet">

<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo-de-avion-con-el-nombre-de-la-empresa-flyapp-upscaled.jpg" alt="FlyApp Logo" width="70" height="70" class="d-inline-block align-text-top">
      <strong>FlyApp</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"><img src="../assets/img/icono-pasajero2.png" alt="Icono Pasajeros" class="icono-pasajeros">Pasajeros</a>
        
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
